Repository vkamiansky/composite, pull requests merged in 2018-03, with the labels that each got.

#15 Cata() reimagined
  Composite/.vscode/settings.json
  Composite/Composite.Cs.Tests/CataTests.cs
  Composite/Composite.Cs.Tests/EnumerableExtensions.cs
  Composite/Composite.Cs.Tests/EnumerableHelper.cs
  Composite/Composite.Cs.Tests/Simple.cs
  Composite/Composite.Cs.Tests/Tests.cs
  Composite/Composite/C.fs
  Composite/Composite/CheckTransformRule.fs
  Composite/Composite/Composite.fsproj
  Composite/Composite/CompositeExtensions.fs
  Composite/Composite/EnumerableExtensions.fs
  Composite/Composite/Transforms.fs
Labels: c#, enhancement, f#, feature, fold, unit test

#12 Added toPaged, toBatched functions.
  Composite/Composite.Cs.Tests/AsBatchedTests.cs
  Composite/Composite.Cs.Tests/AsPagedTests.cs
  Composite/Composite.Cs.Tests/AsPartitionedTests.cs
  Composite/Composite.Cs.Tests/Tests.cs
  Composite/Composite/EnumerableExtensions.fs
  Composite/Composite/Transforms.fs
Labels: c#, f#, feature, unit test

#19 A fix to the redundant size calculation issue
  Composite/Composite.Cs.Tests/AsBatchedTests.cs
  Composite/Composite.Cs.Tests/AsPagedTests.cs
  Composite/Composite.Cs.Tests/AsPartitionedTests.cs
  Composite/Composite.Cs.Tests/CataTests.cs
  Composite/Composite.Cs.Tests/EnumerableExtensions.cs
  Composite/Composite/EnumerableExtensions.fs
  Composite/Composite/Transforms.fs
Labels: bug

#17 Ana() reimagined.
  Composite/.vscode/settings.json
  Composite/Composite.Cs.Tests/AnaTests.cs
  Composite/Composite.Cs.Tests/CompositeExtensions.cs
  Composite/Composite.Cs.Tests/Tests.cs
  Composite/Composite/CheckUnfoldRule.fs
  Composite/Composite/Composite.fsproj
  Composite/Composite/CompositeExtensions.fs
  Composite/Composite/Transforms.fs
Labels: c#, enhancement, f#, feature, unfold, unit test

#23 Added unit tests for functions Fork and Select.
  Composite/Composite.Cs.Tests/Composites/CompositeExtensions.cs
  Composite/Composite.Cs.Tests/Composites/ForkTests.cs
  Composite/Composite.Cs.Tests/Composites/SelectTests.cs
  Composite/Composite.Cs.Tests/Composites/ToComponentsTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AccumulateSelectManyTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsBatchedTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsEnumerableTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsPagedTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsPartitionedTests.cs
  Composite/Composite.Cs.Tests/Enumerables/EnumerableExtensions.cs
  Composite/Composite.Cs.Tests/Helpers/AllowTakeTests.cs
  Composite/Composite.Cs.Tests/Helpers/CompositeExtensions.cs
  Composite/Composite.Cs.Tests/Helpers/EnumerableExtensions.cs
  Composite/Composite.Cs.Tests/Helpers/ToStringShortTests.cs
  Composite/Composite.Cs.Tests/Helpers/WithSideEffectTests.cs
  Composite/Composite.Cs.Tests/Simple.cs
  Composite/Composite.sln
  Composite/Composite/CompositeExtensions.fs
Labels: c#, unfold, unit test

#25 Create LICENSE
  LICENSE
Labels: legal

#27 Release 1.0
  Composite/.vscode/settings.json
  Composite/Composite.Cs.Tests/AsBatchedTests.cs
  Composite/Composite.Cs.Tests/AsPagedTests.cs
  Composite/Composite.Cs.Tests/AsPartitionedTests.cs
  Composite/Composite.Cs.Tests/CataTests.cs
  Composite/Composite.Cs.Tests/Composites/ForkTests.cs
  Composite/Composite.Cs.Tests/Composites/SelectTests.cs
  Composite/Composite.Cs.Tests/Composites/ToComponentsTests.cs
  Composite/Composite.Cs.Tests/EnumerableExtensions.cs
  Composite/Composite.Cs.Tests/Enumerables/AccumulateSelectManyTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsBatchedTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsEnumerableTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsPagedTests.cs
  Composite/Composite.Cs.Tests/Enumerables/AsPartitionedTests.cs
  Composite/Composite.Cs.Tests/Helpers/AllowTakeTests.cs
  Composite/Composite.Cs.Tests/Helpers/CompositeExtensions.cs
  Composite/Composite.Cs.Tests/Helpers/EnumerableExtensions.cs
  Composite/Composite.Cs.Tests/Helpers/ToStringShortTests.cs
  Composite/Composite.Cs.Tests/Helpers/WithSideEffectTests.cs
  Composite/Composite.Cs.Tests/Simple.cs
  Composite/Composite.Cs.Tests/Tests.cs
  Composite/Composite.sln
  Composite/Composite/AccumulateTransformRule.fs
  Composite/Composite/C.fs
  Composite/Composite/CheckTransformRule.fs
  Composite/Composite/Comp.fs
  Composite/Composite/Composite.fs
  Composite/Composite/Composite.fsproj
  Composite/Composite/CompositeExtensions.fs
  Composite/Composite/DataTypes.fs
  Composite/Composite/EnumerableExtensions.fs
  Composite/Composite/Seq.fs
  Composite/Composite/Transforms.fs
  LICENSE
  appveyor.yml
Labels: release
